body {
	background-color:#aaffaa;
	font-family: "Vollkorn";
	font-size: 2em;
}

h1 {
	font-family: "Ubuntu";
	text-shadow: 2px 2px 3px black;
}

p {
	display: inline;
}

aside {
	float:right;
	max-width: 30%;
}
aside li {
	list-style: none;
}
#sample {
	background-color: red;
}
#dangerDiv {
	font: impact;
	color: orange;
	background-color: black;
	border-style: solid;
	border-radius: 5px;
	border-color: orange;
	width: 60%;
	height:20%;
	margin-left: auto;
    margin-right: auto;
    display: block;
    float: clear;
}
button {
	position: absolute;
    right: 50%;
	color: black;
	background-color: orange;
}