
body {
	background-image: url("http://i.imgur.com/TOQSa86.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
	font-family: "Ubuntu";
	font-size: 2em;
	vertical-align: center;
}

nav {
	border: 3px solid #ggg;;
}

#panel-heading {
	background-color: #FF8438;
}

#accordion {
	border: 3px solid #ggg;
	max-width: 90%;
	margin-right: 10%;
    margin-left: 10%;
}

h3 {
	font-family: 'Vollkorn', serif;
	color: #FF8438;
	text-shadow: 1px 1px 2px black;
}

#panel {
	max-width: 70%;
	margin-right: 20%;
    margin-left: 20%;
}

aside p {
	background-color: red;
	width: 1em;
	display: none;
}


footer {
	clear: both;
	font-size: .77em;
	width: 100%;
	color: #FF8438;
	text-shadow: 1px 1px 2px black;
}

#monogram {
	height: 85%;
}