
aside p{
	display: none;
}

body {
	background-image: url("http://i.imgur.com/TOQSa86.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
	font-family: "Ubuntu";
	font-size: 2em;
	vertical-align: center;
}

footer {
	clear: both;
	font-size: 1em;
	width: 100%;
	color: #FF8438;
	text-shadow: 1px 1px 2px black;
}

h3 {
	font-family: 'Vollkorn', serif;
	color: #FF8438;
	text-shadow: 1px 1px 2px black;
}

nav {
	border: 3px solid #ggg;;
}

p {
	display: inline;
}

.accordion {
	border: 3px solid #ggg;
	max-width: 90%;
	margin-right: 5%;
    margin-left: 5%;
    opacity: 0.8;
}

.monogram {
	height: 85%;
}

.panel  {
	margin-right: 20%;
    margin-left: 20%;
}

.panel-heading {
	background-color: #FF8438;
}