
body {
	background-image: url("http://i.imgur.com/SPcQ3vT.jpg");
	background-size: 100%;
	font-family: "Ubuntu";
	font-size: 2em;
	vertical-align: center;
}

nav {
	border: 3px solid #ggg;;
}

h3 {
	font-family: 'Vollkorn', serif;
	color: orange;
	text-shadow: 1px 1px 2px black;
}

p {
	display: inline;
}

footer {
	font-size: 1em;
	vertical-align: right;
	color: orange;
	text-shadow: 1px 1px 2px black;
}

#monogram {
	height: 85%;
}

#accordion {
	border: 3px solid #ggg;
	max-width: 70%;
	margin-right: 20%;
    margin-left: 20%;
}